<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>

    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">

</head>
<body class="text-center">
    <main class="form-signin"> 
        <img class="mb-4" src="/static/face.png" alt="" width="150" height="150">
        <h1 style="font-weight: 600!important;" class="h3 mb-3 fw-normal">Hello, {{full_name}} ! </h1>

        <!-- <form action="" method="POST">
            <button class="w-100 btn btn-lg btn-primary" type="submit" name="submit_name" value="submit_name" >Change name</button> 
        </form>
    
        <form action="" method="POST">
            <button style="margin-top: 1rem;" class="w-100 btn btn-lg btn-primary" type="submit" name="submit_password" value = "submit_password" >Change password</button> 
        </form> -->
        

    </main>     
</body>
</html>



    