{% extends "index.html" %}
{% block title %}Stock Detail{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block style %}<link href="{{ url_for('static', filename='dashboard.css') }}" rel="stylesheet">{% endblock %}

{% block content %} 
<head>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    
function drawChart() {
  var low = '{{ daily_prices['one_day_before_low']|int }}' ;
  var open = '{{ daily_prices['one_day_before_open']|int }}';
  var close = '{{ daily_prices['one_day_before_close']|int }}';
  var high = '{{ daily_prices['one_day_before_high']|int }}';




  var data = google.visualization.arrayToDataTable([
    ['Yesterday', parseInt(low), parseInt(open), parseInt(close), parseInt(high)],
    ['{{ daily_prices['two_day_before_date'] }}', '{{ daily_prices['two_day_before_low']|int }}', '{{ daily_prices['two_day_before_open']|int }}', '{{ daily_prices['two_day_before_close']|int }}', '{{ daily_prices['two_day_before_high']|int }}'],
    ['{{ daily_prices['three_day_before_date'] }}', '{{ daily_prices['three_day_before_low']|int }}', '{{ daily_prices['three_day_before_open']|int }}', '{{ daily_prices['three_day_before_close']|int }}', '{{ daily_prices['three_day_before_high']|int }}'],
  ], true);

  var options = {
    legend:'none',
    candlestick: {
            fallingColor: { strokeWidth: 0, fill: '#a52714' }, // red
            risingColor: { strokeWidth: 0, fill: '#0f9d58' }   // green
          },
    hAxis: { 
      gridlines: { 
        count: 2,
        interval: [20,40,50,80] 
      } 
    }
  };

  var chart = new google.visualization.CandlestickChart(document.getElementById('chart_div'));

  chart.draw(data, options);
}
  </script>
</head>

<body>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Stock Insights</a>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      {% block search %} 
      <form class="w-100" action="{{ url_for('stock.stock_data', id = url, type = 'search') }}" method="post">
        <input class=" w-100 form-control form-control-dark" name="search" type="text" placeholder="Search" aria-label="Search">
      </form>
      {% endblock %}

      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="{{ url_for('home.logout') }}" >Sign out</a>
        </li>
      </ul>
    </header>
    
    
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        
        {% if name %}
        <h1 class="h2">Summary: {{name}} {{ daily_prices['performance'] }}</h1>
        {% else %} 
        <h1 class="h2"> </h1> 
        {% endif %}

        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
            
            {% if saved == False %}
            <form action="{{ url_for('stock.stock_post', id = url, symbol = symbol, name = name, sector = sector) }}" method="post">
                <button type="submit" class="w-100 btn btn-sm btn-outline-secondary" name="save_stock" value="save_stock" >Save</button>
            </form>
            {% endif %}


            {% if saved == True %}
            <form action="{{ url_for('stock.stock_post', id = url, symbol = symbol, name = name, sector = sector) }}" method="post">
                <button type="submit" class="w-100 btn btn-sm btn-outline-secondary" name="delete_stock" value="delete_stock">Delete</button>
            </form>
            {% endif %}
            </div>
        </div>
        </div>

        <!-- SIDE BAR -->
        <div class="container-fluid">
            <div class="row">
              <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{{ url_for('login.login_user') }}">
                        <span data-feather="home"></span>
                        <b>DASHBOARD</b>
                      </a>
                    </li>
                  </ul>
                </div>
              </nav>


              {% if not name %}
              <h4 class="mt-5 text-center text-muted">We cannot find your stock, please try another stock code</h4>
              {% endif %}

            
              <!-- An interactive candlestick chart. -->
              
            <div id="chart_div" class="container-fluid w-100" style="width: 900px; height: 500px;"></div>
               

            <h4 class="mt-5"><b>STOCK OVERVIEW</b></h4>
                <div class="table-responsive mt-2">
                    <table class="table table-striped table-sm">

                    <tbody>
                        <tr>
                            <th class="text-muted">Symbol</th> 
                            <td>{{ symbol }}</td>
                        </tr>
                        <tr>
                            <th class="text-muted">Name</th>
                            <td>{{ name }}</td>
                        </tr>
                        <tr>
                            <th class="text-muted">Description</th>
                            <td>{{ desc }}</td>    
                        </tr>
                        <tr>
                            <th class="text-muted">Exchange</th>
                            <td>{{ exchange }}</td>
                        </tr>
                        <tr>
                            <th class="text-muted">Country</th>
                            <td>{{ country }}</td>
                        </tr>
                        <tr>
                            <th class="text-muted">Sector</th>
                            <td>{{ sector }}</td>
                        </tr>
                    </tbody>
                    </table>
                
                    <h4 class="mt-5"><b>STOCK DAILY</b></h4>
                    <table class="table table-striped table-sm table-hover">
                        <thead>
                            <tr>
                            <th class="text-muted">Date</th>
                            <th class="text-muted">Open ($)</th>
                            <th class="text-muted">High ($)</th>
                            <th class="text-muted">Low ($)</th>
                            <th class="text-muted">Close ($)</th>
                            <th class="text-muted">Difference ($)</th>
                            <th class="text-muted">Performance</th>
                            </tr>
                        </thead>
            
                        <tbody>
                            <tr>
                              <td><strong>{{ daily_prices['one_day_before_date'] }}</strong></td>
                              <td>{{ daily_prices['one_day_before_open'] }}</td>
                              <td>{{ daily_prices['one_day_before_high'] }}</td>
                              <td>{{ daily_prices['one_day_before_low'] }}</td>
                              <td>{{ daily_prices['one_day_before_close'] }}</td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr>
                                <td><strong>{{ daily_prices['two_day_before_date'] }}</strong></td>
                                <td>{{ daily_prices['two_day_before_open'] }}</td>
                                <td>{{ daily_prices['two_day_before_high'] }}</td>
                                <td>{{ daily_prices['two_day_before_low'] }}</td>
                                <td>{{ daily_prices['two_day_before_close'] }}</td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{ daily_prices['difference'] }}</td>
                                <td>{{ daily_prices['difference_percent'] }}% {{ daily_prices['performance'] }}</td>
                              </tr>
                        </tbody>
                    </table>

                    {% if daily_news %}
                      <h4 class="mt-5"><b>DAILY NEWS</b></h4>
                      <div class="row mb-2">
                          <div class="col-md-6">
                            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                              <div class="col p-4 d-flex flex-column position-static">
                                <strong class="d-inline-block mb-2 text-primary">World</strong>
                                <h3 class="mb-0"> {{ daily_news['article_one_title'] }}</h3>
                                <div class="mb-1 text-muted">{{ daily_news['article_one_author'] }}</div>
                                <p class="card-text mb-auto">{{ daily_news['article_one_desc'] }}</p>
                                <a href="{{ daily_news['article_one_url']  }}" class="stretched-link" target="_blank">Continue reading</a>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                              <div class="col p-4 d-flex flex-column position-static">
                                <strong class="d-inline-block mb-2 text-success">World</strong>
                                <h3 class="mb-0">{{ daily_news['article_two_title'] }}</h3>
                                <div class="mb-1 text-muted">{{ daily_news['article_two_author'] }}</div>
                                <p class="mb-auto">{{ daily_news['article_two_desc'] }}</p>
                                <a href="{{ daily_news['article_two_url']  }}" class="stretched-link" target="_blank">Continue reading</a>
                              </div>
                            </div>
                          </div>
                      </div>


                      <div class="row mb-2">
                          <div class="col-md-6">
                            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                              <div class="col p-4 d-flex flex-column position-static">
                                <strong class="d-inline-block mb-2 text-primary">World</strong>
                                <h3 class="mb-0"> {{ daily_news['article_3_title'] }}</h3>
                                <div class="mb-1 text-muted">{{ daily_news['article_3_author'] }}</div>
                                <p class="card-text mb-auto">{{ daily_news['article_3_desc'] }}</p>
                                <a href="{{ daily_news['article_3_url']  }}" class="stretched-link" target="_blank">Continue reading</a>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                              <div class="col p-4 d-flex flex-column position-static">
                                <strong class="d-inline-block mb-2 text-success">World</strong>
                                <h3 class="mb-0">{{ daily_news['article_4_title'] }}</h3>
                                <div class="mb-1 text-muted">{{ daily_news['article_4_author'] }}</div>
                                <p class="mb-auto">{{ daily_news['article_4_desc'] }}</p>
                                <a href="{{ daily_news['article_4_url']  }}" class="stretched-link" target="_blank">Continue reading</a>
                              </div>
                            </div>
                          </div>
                      </div>
                    {% else %}
                      <h4 class="mt-5"><b>THERE IS NO NEWS REGARDING THIS STOCK</b></h4>
                    {% endif %}
    {% endblock %}
    </body>     
</html>

